header {
    margin: 20px;
    border-radius: 7px;
    padding: 10px 5px 20px 5px;
    background-color: #F5F0A8;
}

#header__title {
    text-align: center;
    font-style: italic;
}

#header__title a {
    text-decoration: none;
    color: #2B3440;
}

.nav__login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    border-top: 2px solid rgba(43, 52, 64, 0.623);
}

.nav__login a {
    text-decoration: none;
    color: #2B3440;
    padding: 10px;
    margin-top: 5px;
}

.nav__login a:hover {
    background-color: #46696B;
    border-radius: 7px;
    color: whitesmoke;
}

.nav__logout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-right: 15px;
    color: #2B3440;
    border-top: 2px solid rgba(43, 52, 64, 0.623);
}

.nav__logout a {
    text-decoration: none;
    color: #2B3440;
    padding: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

.nav__logout span {
    padding: 10px;
    margin-left: 15px;
    margin-top: 5px;
}

.nav__logout a:hover {
    background-color: #46696B;
    border-radius: 7px;
    color: whitesmoke;
}

#header__title a:hover {
    background-color: #46696B;
    border-radius: 7px;
    color: whitesmoke;
    padding: 5px;
}
