#user_greeting {
    text-align: center;
}

#progress {
    background-color: #2B3440;
    color: whitesmoke;
}

.dashboard__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.language {
    font-style: italic;
}

.wordlist__label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wordlist__label h3 {
    border-bottom: 1px solid #84DEBA;
    padding: 2px;
}

.wordlist {
    list-style-type: none;
    width: 80%;
}

.wordlist li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(174, 224, 204);
    padding: 0 8px 0 8px;
    margin-bottom: 10px;
}

.wordlist li div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.dashboard__container a {
    margin-top: 20px;
}

.dashboard__container a button {
    font-size: 1em;
    background-color: #46696B;
    color: whitesmoke;
    padding: 7px;
    border: none;
    border-radius: 7px;
}