@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2B3440;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-size: calc(10px + 1vmin);
}

h1, h2 {
  font-family: "Raleway", sans-serif;
}

input {
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
}

a, button {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0 0px 10px 0 rgb(197, 216, 208), 0 0px 10px 0 rgb(197, 216, 208);
}
